* {
  margin: 0;
  box-sizing: border-box; }

:root {
  color-scheme: dark; }

.block {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Rubik Marker Hatch', cursive;
  margin-top: 40px; }

.block-style {
  background-color: green;
  margin: 10px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 20px 40px; }

.block-style:hover {
  background-color: lightgreen;
  color: black;
  animation: slidein 1s; }

@keyframes slidein {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (max-width: 900px) {
  .block {
    color: lavender;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px 30px; } }

@media (max-width: 600px) {
  .block {
    color: blue;
    grid-template-columns: repeat(1, 1fr);
    margin: 20px;
    border-radius: 10px 40px; } }
